//- Unicorn Studio: Start
div.webgl(data-us-project="jSQIShw8nRxgcNnhfv18")

<script type="text/javascript">!function(){if(!window.UnicornStudio){window.UnicornStudio={isInitialized:!1};var i=document.createElement("script");i.src="https://cdn.jsdelivr.net/gh/hiunicornstudio/unicornstudio.js@v1.4.20/dist/unicornStudio.umd.js",i.onload=function(){window.UnicornStudio.isInitialized||(UnicornStudio.init(),window.UnicornStudio.isInitialized=!0)},(document.head || document.body).appendChild(i)}}();</script>
//- Unicorn Studio: Finish

//- Custom Code: Start
section.page
  main.card
    div.quest
      img(src="https://assets.codepen.io/3165458/quest.png", alt="Meta Quest 3")
    article.text
      h2 Grab A Device
      p Your journey into spatial starts now. Get Meta Horizon OS for yourself or power up your entire team.
      a(href="") Purchase a Meta Quest 
//- Custom Code: End